 <!--Clients-->
 <section id="clients" class="scrollto clearfix">
    <div class="row clearfix">

        <div class="col-3">

            <div class="section-heading">
                <h1>Categorias</h1>
                <h2 class="section-title">¿Que quieres leer?</h2>
                <p class="section-subtitle"> Desde clásicos atemporales hasta las últimas novedades, 
                    cada categoría ofrece una experiencia única de lectura, adaptada a diversos gustos e intereses.
                    Encuentra tu próximo libro favorito mientras exploras nuestras distintas secciones, diseñadas para 
                    satisfacer la diversidad de lectores en nuestra biblioteca.</p>
            </div>

        </div>

        <div class="col-2-3">

            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo1.png" alt="Company"/>
                <div class="client-overlay"><span>Poesía</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo2.png" alt="Company"/>
                <div class="client-overlay"><span>Misterio</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo3.png" alt="Company"/>
                <div class="client-overlay"><span>Juegos y Entretenimiento</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo4.png" alt="Company"/>
                <div class="client-overlay"><span>Comedia</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo5.png" alt="Company"/>
                <div class="client-overlay"><span>Naturaleza y Animales</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo6.png" alt="Company"/>
                <div class="client-overlay"><span>Derecho y Justicia</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo7.png" alt="Company"/>
                <div class="client-overlay"><span>Deportes y Recreación</span></div>
            </a>
            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo8.png" alt="Company"/>
                <div class="client-overlay"><span>Aventura</span></div>
            </a>

            <a href="/plane" class="col-4">
                <img src="../assets/images/company-images/company-logo9.png" alt="Company"/>
                <div class="client-overlay"><span>Nutrición</span></div>
            </a>

        </div>

    </div>
</section>
<!--End of Clients-->
