<div id="header" class="nav-collapse">
    <div class="row clearfix">
        <div class="col-1">

            <!--Logo-->
            <div id="logo">

                <!--Logo that is shown on the banner-->
                <img src="../assets/images/logo.png" id="banner-logo1" alt="Landing Page"/>
                <!--End of Banner Logo-->

                <!--The Logo that is shown on the sticky Navigation Bar-->
                <img src="../assets/images/logo-2.png" id="navigation-logo1" alt="Landing Page"/>
                <!--End of Navigation Logo-->

            </div>
            <!--End of Logo-->

            <aside>

                <!--Social Icons in Header-->
                <ul class="social-icons">
                    <li>
                        <a target="_blank" title="Facebook" href="https://www.facebook.com/lol123">
                            <i class="fa fa-facebook fa-1x"></i><span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Google+" href="http://google.com/lol123">
                            <i class="fa fa-google-plus fa-1x"></i><span>Google+</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Twitter" href="http://www.twitter.com/lol1232211">
                            <i class="fa fa-twitter fa-1x"></i><span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" title="Instagram" href="http://www.instagram.com/lol123222">
                            <i class="fa fa-instagram fa-1x"></i><span>Instagram</span>
                        </a>
                    </li>
                   
                </ul>
                <!--End of Social Icons in Header-->

            </aside>

            <!--Main Navigation-->
            <nav id="nav-main">
                <ul>
                    <li>
                        <a routerLink="/inicio" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a>
                    </li>
                    <li>
                        <a routerLink="/categorias" routerLinkActive="active" ariaCurrentWhenActive="page">Categorias</a>
                    </li>
                    <li>
                        <a routerLink="/plane" routerLinkActive="active" ariaCurrentWhenActive="page">Planes</a>
                    </li>
                </ul>
            </nav>
            <!--End of Main Navigation-->

            <div id="nav-trigger"><span></span></div>
            <nav id="nav-mobile"></nav>

        </div>
    </div>
</div><!--End of Header-->