 <!--Pricing Tables-->
 <section id="plane" class="secondary-color text-center scrollto clearfix ">
    <div class="row clearfix">

        <div class="section-heading">
            <h3>   ELIGE TU PLAN</h3>
            <h2 class="section-title">   Tenemos el paquete adecuado para ti</h2>
        </div>

        <!--Pricing Block-->
        <div class="plane-block col-3 wow fadeInUp" data-wow-delay="0.4s">
            <div class="plane-block-content">
                <h3>Personal</h3>
                <p class="plane-sub">Version Estandar</p>
                <div class="plane">
                    <div class="price"><span>$</span>15mil</div>
                    <p>Este plan podría ofrecer beneficios estándar para usuarios individuales.</p>
                </div>
                <ul>
                    <li>5 Descargas Exclusivas</li>
                    <li>2 Categorías Adicionales</li>
                    <li>1 Año de Actualizaciones Gratis</li>
                </ul>
                <a href="#" class="button">COMPRAR</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="plane-block featured col-3 wow fadeInUp" data-wow-delay="0.6s">
            <div class="plane-block-content">
                <h3>Estudiante</h3>
                <p class="plane-sub">Eleccion mas popular</p>
                <div class="plane">
                    <div class="price"><span>$</span>20mil</div>
                    <p>este plan podría incluir descuentos especiales o acceso a recursos académicos adicionales.</p>
                </div>
                <ul>
                    <li>15 Descargas Exclusivas</li>
                    <li>5 Categorías Adicionales</li>
                    <li>Envío Gratuito de Libros</li>
                    <li>2 Años de Actualizaciones Gratuitas</li>
                </ul>
                <a href="#" class="button">COMPRAR</a>
            </div>
        </div>
        <!--End Pricing Block-->

        <!--Pricing Block-->
        <div class="plane-block col-3 wow fadeInUp" data-wow-delay="0.8s">
            <div class="plane-block-content">
                <h3>Premium</h3>
                <p class="plane-sub">Mejores beneficios</p>
                <div class="plane">
                    <div class="price"><span>$</span>35mil</div>
                    <p>ofreciendo beneficios exclusivos, acceso prioritario a eventos o recursos premium de la biblioteca.</p>
                </div>
                <ul>
                    <li>Descargas Ilimitadas</li>
                    <li>Descuentos en Libros Físicos</li>
                    <li>Envío Gratuito de Libros</li>
                    <li>Categorías Adicionales</li>
                    <li>Acceso Anticipado a Novedades</li>
                    <li>Actualizaciones Permanentes Gratuitas</li>
                    
                </ul>
                <a href="#" class="button">COMPRAR</a>
            </div>
        </div>
        <!--End Pricing Block-->

    </div>
</section>
<!--End of Pricing Tables-->